@tailwind base;
@tailwind components;
@tailwind utilities;

ul li{
  @apply
  text-primary
  my-3
}

input::placeholder{
  @apply
  text-secondary
}

h1 {
  @apply font-bold text-white text-5xl;
}

h2 {
  @apply font-normal text-primary text-4xl;
}

h3 {
  @apply font-thin text-primary text-3xl;
}

.search-icon{
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.menu-btn {
	width: 30px;
	height: 30px;
	position: relative;
	z-index:2;
	overflow: hidden;
}

.menu-btn span {
	width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #222222;
	transition: all 0.5s;
}

/* Menu that will appear */
.menu {
	position: fixed;
	top: 30;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 90%;
	padding: 20px;
	transform: translateX(-100%);
	transition: transform 0.5s; 
	@apply
	bg-secondary
}

.menu.active {
	transform: translateX(0);
}

.menu li {
	list-style-type: none;
}